<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="about" >
      <h1>洋服相談サイトとは</h1>
        <p>洋服の相談をしたい人と、洋服の相談に乗りたい人をつなげるwebサイトです。</p>
        <p>閲覧は自由にできますが、投稿には会員登録が必要です。（無料）</p>
        <p>お気軽に質問を投稿してみてください。</p>
        <p>適切なアドバイスが返ってきます。</p>
        <p>コーディネートを投稿するして、診断してもらうことも可能です。</p>
        <p>アドバイスをもらって、感謝を伝えたい場合は、伝えたいユーザーのページに行き、ありがとうを贈りましょう。</p>
    </div>
  </body>
</html>
