<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <div class="about" >
      <h1>#とは</h1>
        <p>コーディネートの相談をしたい人と、コーディネートの相談に乗りたい人をつなげるwebサイトです。</p>
        <p>閲覧は自由にできますが、投稿には会員登録が必要です。（無料）</p>
        <p>お気軽にコーディネートを投稿してみてください。</p>
        <p>適切なアドバイスが返ってきます。</p>
        <p>投稿する際に、どういうシーンでのコーディネートかチェックを入れる欄があります。</p>
        <p>任意ですが、そこにチェックを入れていただければ、より具体的なアドバイスが返ってきます。</p>
        <p>アドバイスをもらって、感謝を伝えたい場合は、伝えたいユーザーのページに行き、ありがとうを贈りましょう。</p>
    </div>
  </body>
</html>
