<div class="comment-form">
   <%= form_for([@micropost , @comment]) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
       <div class="field">
         <%= f.text_area :content, placeholder: "Send comment..." %>
       </div>
     <%= f.submit "Post", class: "btn btn-primary" %>
   <% end %>
 </div>
