@import "bootstrap-sprockets";
@import "bootstrap";

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #e6e6e6;
  margin-bottom: 140px;
}

.container {
  width: 70%;
}

.btn {
  background-color: #a94442;
  border: 3px solid #e6e6e6;
  &:hover {
    color: #a94442;
    background-color: white;
    border: 3px solid #e6e6e6;
  }
}

.form-control:focus, input:hover, input:active, textarea:hover, textarea:active{
    outline: 0;
    border-color: var(--accent_color ,black);
    box-shadow: 2px 2px 2px var( --accent_color ,black);
}
/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.nav li {
  padding: 6px 20px;
  margin: 10px 10px;
  font-size: 12px;
  border: 1px;
  border-radius: 4px;
  transition: .3s all;
  background-color: #a94442;
}

/* footer */
footer {
  height: 140px;
  background: #222222;
  width: 100%;
  position: absolute;
  bottom: 0;
  a {
    color: white;
    font-size: 15px;
    padding: 0 20px;
  }
}

.footer {
  padding-top: 40px;
  text-align: center;
}

/* home */
.microposts {
  list-style: none;
  padding: 0;
  li {
    margin-top: 30px;
    width: 100%;
    border-radius:10px;
    border: 3px solid #e6e6e6;
    background-color: white;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 0px;
    img {
      display: block;
      padding: 5px;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.center.jumbotron {
  background-color: white;
  margin-top: 100px;
}

/* signup-form */
.row {
  padding-top: 100px;
}

.row h1 {
  text-align: center;
}
