<footer class="footer">
  <nav>
    <a><%= link_to "＃とは",   about_path %></a>
    <a><%= link_to "お問い合わせ", contact_path %></a>
    <a><%= link_to "利用規約",   '#' %></a>
    <a><%= link_to "プライバシーポリシー", '#' %></a>
  </nav>
</footer>
